div{
  text-align: center;
}

h3{
word-wrap: break-word;
width: 66%;
position: relative;
left: 10rem;

}

.productButton{
  color:white;
  background-color: black;
  border-radius: 5%;
  padding: 5px;
  margin: 7px;

}
#productid{
  background-color: purple;
  
}

.lead{
    font-size: 19;
    margin-left: 80px;
    color: black !important
  }
.bd-example{
  margin-top: 50;
}

.carousel-item{
  max-height: 200vh;
  width:700px;
  height: 500px;
  left:50%;
  top:50%;
  margin-left:-390px;
  margin-top:-325px;
  
}
            
  .carousel-caption{ color: black;
          }
#chicken{color: white;}

img.d-block.d-block{
  margin-top: 18rem;
  height: 300px;
  width: 100%;
  object-fit: contain;
}
