div{
  text-align: center;
}

h3{
word-wrap: break-word;
width: 66%;
position: relative;
left: 10rem;

}
.bd-example{
  margin-top: 25px;
}

.productButton{
  color:white;
  background-color: black;
  border-radius: 5%;
  padding: 5px;
  margin: 7px;

}
#productid{
  background-color: purple;
  
}

.lead{
    font-size: 19;
    margin-left: 80px;
    color: black !important
  }
.bd-example{
  margin-top: 50;
}

.carousel-item{
  
  height: 200px;
 
 
  
}
.carousel-inner{
  height: 100%;
}
            
  .carousel-caption{ color: black;
          }
#chicken{color: white;}

img.d-block.d-block{
  margin-top: 18rem;
  height: 300px;
  width: 100%;
  object-fit: contain;
}

.mainImage{
  height: 200px ;
  width: auto ;
  
}
.fullInfo{
  background-color: rgb(240, 169, 181);
}